<nav class="navbar navbar-expand-lg fixed-top navbar-dark flex-md-nowrap  bg-primary">
  <a class="navbar-brand" href="#">İkinci El Şatış Sitesi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto  mr-auto">
      <li class="nav-item active">
        <a class="nav-link " routerLink="">Ana Sayfa  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/otomobil">  Vasıta  </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/telefon">  Telefon  </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/ev">    Konut    </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/diger">  Diğer  </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">  Yeni İlan Oluştur  </a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div *ngIf="giris != undefined">
          
          <a class="dropdown-item" routerLink="/kbilgi">Bilgilerim</a>
          <a class="dropdown-item" routerLink="/ilanlarım">İlanlarım</a>
           <a class="dropdown-item" (click)="cikis()">Çıkış Yap</a>
          
        </div>
          <div *ngIf="!giris">
          <a class="dropdown-item" routerLink="/giris">Giriş Yap</a>
          <a class="dropdown-item" routerLink="/kayıt">Kayıt Ol</a>
          </div>
          
        </div>
      </li>
    </ul>
  </div>
</nav>