<nav class="navbar navbar-expand-lg fixed-top navbar-dark flex-md-nowrap  bg-primary">
  <a class="navbar-brand" href="#">İkinci El Şatış Sitesi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto  mr-auto">
      <li class="nav-item active">
        <a class="nav-link " href="#">Ana Sayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Otomobil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Telefon</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Ev</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Diğer</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Bilgilerim</a>
          <a class="dropdown-item" href="#">İlanlarım</a>
          <a class="dropdown-item" href="#">Ayarlar</a>
          <a class="dropdown-item" href="#">Çıkış Yap</a>
        </div>
      </li>
    </ul>
  </div>
</nav>