<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="contents">
    <div class="row mb-2 col-auto">
      <div class="col-md-12 text-center mb-4">
        <input
          type="text"
          placeholder="Search.."
          name="search"
          [(ngModel)]="filterText"
        />
      </div>

      <!-- Card -->
      <div
        class="card col-md-3"
        style="margin-left:4.16%;margin-right: 4.16%;margin-bottom: 1%;margin-top: 1%;"
        *ngFor="let ilan of ilanlar | ilanFilter: filterText"
      >
        <!-- Card image -->
        <div routerLink="/ilan-info/{{ ilan._id }}" style="cursor: pointer;">
        <div class="view overlay">
          <img
            class="card-img-top"
            src="{{ ilan.ilan_vitrin_image_path }}"
            alt="Card image cap"
          />
          
            <div class="mask rgba-white-slight"></div>
       
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">{{ ilan.ilan_baslik }}</h4>
          <!-- Text -->
          <p class="card-text">{{ ilan.ilan_aciklama }}</p>
          <!-- Button -->
          <h2 class="card-title" style="color: #ff9f1a;">{{ ilan.ilan_price }} TL</h2>
        </div>
      </div>
      </div>
      <!-- Card -->

      <!-- <div  class="col-md-10" style="margin-left: 9.5%" *ngFor="let ilan of ilanlar | ilanFilter: filterText"  >
          <a routerLink="/ilan-info/{{ilan._id}}" class="nav-link">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
           
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ilan.ilan_baslik}}</strong>
            <h3 class="mb-0">{{ilan.ilan_location}}</h3>
            <div class="mb-1 text-muted">{{ilan.ilan_id}}</div>
            <p class="card-text mb-auto">{{ilan.ilan_aciklama}}</p>
            <a href="#" class="stretched-link">Fiyat {{ilan.ilan_price}}</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src={{ilan.ilan_image_path}} alt="" width="200" height="250" >
          </div>
        </div>
      </a>
      </div>-->
    </div>
  </div>
</main>
