<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="contents">
    <div class="row mb-2 col-auto">
      <div  class="col-md-6" *ngFor="let ilan of ilanlar">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ilan.ilan_baslik}}</strong>
            <h3 class="mb-0">{{ilan.ilan_location}}</h3>
            <div class="mb-1 text-muted">{{ilan.ilan_id}}</div>
            <p class="card-text mb-auto">{{ilan.ilan_aciklama}}</p>
            <a href="#" class="stretched-link">Fiyat {{ilan.ilan_price}}</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>

      
      
    </div>
  </div>
</main>

